[user]
  email = 69514187+ivarnakken@users.noreply.github.commit
  name = Ivar Nakken

[commit]
  gpgsign = true
  verbose = true

[core]
  editor = nvim
  # The following line defines a global .gitattributes file
  attributesfile = ~/.gitattributes
